<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">

        {% block head %}
        {% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>

    <body>

        {% load static %}

        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="collapse navbar-collapse container" id="navbarNav">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/cadastroaluno/' %}active{% endif %}" href="{%url 'cadastroaluno' %}">Cadastro Aluno</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/alunoscadastrados/' %}active{% endif %}" href="{%url 'alunoscadastrados' %}">Alunos Cadastrados</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav">

                        <li class="nav-item" style="align= right">
                            <a class="nav-link" href="/admin" target="_blank">
                                <img src="{% static 'images/person-circle.svg' %}" style="filter: invert(100%);" alt="user" height="28">
                            </a>
                        </li>

                    </ul>

                  </div>

            </nav>

        </header>

        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
        </div>

        <footer class="bg-dark text-center text-white mt-5 fixed-bottom">
            <p>&copy;<span id="ano-atual"></span> - Guilherme Henrique de Moura Froes</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <script>
            // Função para obter o ano atual
            function obterAnoAtual() {
                var dataAtual = new Date();
                var ano = dataAtual.getFullYear();
                return ano;
            }

            // Atualiza o ano no elemento HTML
            document.getElementById("ano-atual").innerText = obterAnoAtual();
        </script>

    </body>

</html>